
  html {
    font-family: fantasy;
    color:black;
    list-style-type: none;
  }

  body {
    background-color: gray;
    /* background-image:url('./assests/altscroll.png'), url('./assests/tabletop.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;
  }

  a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: rgb(87, 87, 87);
    background-color: transparent;
    text-decoration: italic;
  }

  a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  footer {
    margin: 32px 0;
    display: flex;
    justify-content: center;
  }

  section {
    width: 50%;
    height: 50%;
    margin: 0 0 0 300px;
    padding: 20px;
    column-count: 3;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 780px) {
    /* .App-logo {
      animation: App-logo-spin infinite 20s linear;
    } */
  }