
  html {
    font-family: fantasy;
    color:black;
  }

  body {
    background-color: black;
    background-image:url('./assests/altscroll.png'), url('./assests/tabletop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:inherit;
  }

  footer {
    margin: 32px 0;
    display: flex;
    justify-content: center;
  }

  section {
    font-weight: bold;
    justify-content: normal;
    text-align: match-parent;
  }

  span {
    justify-content: center;
  }

  @media only screen and (max-width: 780px) {
    /* .App-logo {
      animation: App-logo-spin infinite 20s linear;
    } */
  }